body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:lightgray; 
    margin:0;
    scroll-margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
    body{
        background-color: 393d3f;
    }    
}

main {
    width: 350px;
    background-color:#3a4452;
    padding:10px 10px 10px 10px;
    margin:30px auto  0 auto;
    border-radius:10px 10px 10px 10px;
    box-shadow:1px black;
}

section {
    width:100%;
    margin-bottom: 1em;
}

#digital-display {
    width:97%;
    height:150px;
    border-radius:8px 8px 8px 8px;
    text-align:end;
    border:none;
    font-size:40px;
    padding-right:10px;
    background-color: #fdfdff;
} 

.button-group {
    width:100%;
    display:flex;
    justify-content:space-evenly;
    margin-top: 1em;
}

.button-digits {
    width:70px;
    height:70px;
    background-color: #fdfdff;
    border-radius:100px 100px 100px 100px;
    border:none;
    font-size:30px;
    color:black;
}

.button-operators {
    width:70px;
    height:70px;
    background-color: #561643;
    border-radius:100px 100px 100px 100px;
    border:none;
    font-size:30px;
    color: #fdfdff;
}
